.git
.github
.env.example
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
npm-debug.log
yarn-error.log
node_modules
vendor
tests
README.md
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/views/*.php
storage/framework/sessions/*
storage/framework/testing/*
bootstrap/cache/*.php
